#heading {
  padding: 5em 0;
  text-align: center;
}

#main_message {
  font-size: 64px;
  margin-bottom: 0;
}

#sub_message {
  font-size: 24px;
  color: rgb(131, 131, 131);
}

#get_started {
  text-align: center;
}

#get_started_button {
  font-size: 18px;
  display: inline-block;
  padding: 1em 2em 1em;
  margin: 0 0 1em 0;
  color: #ffffff;
  border-radius: 35px;
  background-color: #0099ff;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#login_message {
  font-size: 14px;
}

#chrodiva_mock_image {
  margin: 0 auto;
  width: 100%;
}