.whole {
  margin-top: 10em;
  background: rgb(226, 226, 226);
  padding: 3em 10em;
  display: flex;
}

.footer_div {
  padding: 0 3em;
}

.footer_a {
  display: block;
  margin: 1em 0;
  text-decoration: none;
  font-size: 14px;
}

.footer_a:link, .footer_a:visited, .footer_a:hover, .footer_a:active {
  color: rgb(99, 97, 97);
}

.heading {
  color: rgb(90, 90, 90);
  font-size: 16px;
}

.copyright_form {
  background: rgb(226, 226, 226);
  text-align: center;
  padding-bottom: 2em;
}

.copyright_text {
  margin: 0 auto;
  font-size: 10px;
}