.wrapper {
  margin: 0 auto;
  margin-top: 5em;
  padding: 2em 2em;
  width: 40%;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 36px;
}

.form_item {
  margin: 2em 0;
  width: 100%;
}

.form_input {
  font-size: 18px;
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  padding: 10px;
}

.button_panel {
  text-align: center;
}

#submit_button {
  padding: 10px 20px;
  font-size: 18px;
  background: rgb(21, 35, 233);
  border: 1px solid rgb(21, 35, 233);
  border-radius: 3px;
  color: rgb(221, 221, 221);
}

.footer_form {
  text-align: center;
  color: rgb(105, 105, 105);
  text-decoration: none;
  font-size: 14px;
  margin-top: 3em;
}